body {
  margin: 0;
  background-color: #EEEEEE;
  font-family: 'Open Sans', sans-serif;
}
a:link {
    text-decoration: none;
    color:inherit;
}

a:visited {
    text-decoration: none;
    color:inherit;
}

.grid-item {
  text-align: center;
}

.navigation {
  grid-area: header;
  padding: 0px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

@media screen and (max-width: 600px) {
  .navigation {
    grid-area: header;
    padding: 0px;
    font-size: 0.5em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
  }
}

.menu {
  grid-area: menu;
}

.right {
  grid-area: right;
}

.main {
  grid-area: main;
  width: 100%;
}

.footer {
  grid-area: footer;
  font-size: 10px;
  background-color: rgba(92, 125, 161, 0.82);
  font-family: 'Open Sans', sans-serif;
  color: white;
  display: inline-block;
  /* padding: 10px 10px; */
  margin-top: 15px;
}

.cover {
  grid-area: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("../images/IMG_0821.jpg");
  background-position: center;
  background-size: cover;
  height: 75vh;
  padding: 0px;
  border: none;
  display: grid;
  justify-content: center;
  align-items: center;
}

.covertext {

  color: white;
  font-family: 'Open Sans', sans-serif;
  font-stretch: expanded;
  font-size: 2vw;

}
@media screen and (orientation: portrait){
  .covertext {
    font-size: 5vw;
  }
}

.covertext>p {
  font-style: italic;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'cover cover cover cover cover cover'
    'header header header header header header'
    'menu main main main main right'
    'footer footer footer footer footer footer';
  grid-gap: 0px;
}

@media screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      'cover cover cover cover cover cover'
      'header header header header header header'
      'menu menu menu menu menu menu'
      'main main main main main main'
      'footer footer footer footer footer footer';
    grid-gap: 0px;
  }
}

.grid-container2 {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 10px;
  padding-top: 10px;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .grid-container2 {
    display: grid;
    grid-template-columns: 90%;
    grid-gap: 10px;
    padding-top: 10px;
    justify-content: center;
  }
}

.card {
  border: solid 1px #CCCCCC;
  border-radius: 15px;
  /* height: 500px; */
  background-color: #FFFFFF;
  text-align: center;
  padding: 50px 0;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(92, 125, 161, 0.82);
  width: 100%;
  display: flex;
  justify-content: center;
}

#navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #FFF;
  color: rgba(92, 125, 161, 1);
}

#navbar a.active {
  background-color: #FFF;
  color: rgba(92, 125, 161, 1);
}

/* Index */
.indexcontent {
  height: 20vh;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.indexcontent p {
  padding-top: 9vh;
}

/* Fotos */
.foto-grid {
  display: grid;
  grid-template-areas:
    'cover cover cover cover cover cover'
    'header header header header header header'
    'menu main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 0px;

}

@media screen and (max-width: 600px) {
  .foto-grid {
    display: grid;
    grid-template-areas:
      'cover cover cover cover cover cover'
      'header header header header header header'
      'menu menu menu menu menu menu'
      'main main main main main main'
      'footer footer footer footer footer footer';
    grid-gap: 0px;
  }
}

.grid-foto-container {
  display: none;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 10px;
  padding-top: 10px;
  justify-content: center;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .grid-foto-container {
    display: none;
    grid-template-columns: 90%;
    grid-gap: 10px;
    padding-top: 10px;
    justify-content: center;
    z-index: -1;
  }
}

.grid-foto {

  display: none;
}

.grid-foto:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#filtercontainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  /* width: 70%; */
}

button {
  background-color: rgba(92, 125, 161, 0.82);
  padding: 15px 32px;
  border: none;
  color: white;
  text-decoration: none;
  /* display: inline-block; */
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  outline: none;
  width: 50%;
}

@media screen and (max-width: 600px) {
  #filtercontainer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    background-color: rgba(92, 125, 161, 0.82);
    padding: 7px 10px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5em;
    box-sizing: border-box;
    outline: none;
  }
}

button:hover {
  background-color: white;
  color: rgba(92, 125, 161, 0.82);
}

.bild img {
  max-width: 100%;
}

.bild {
  padding-top: 60%;
  background-size: cover;
  background-position: center;
}

.btn {
  /* background-color: rgba(92, 125, 161, 0.82); */
}

.btn.active {
  background-color: white;
  color: rgba(92, 125, 161, 0.82);
  border: solid 1px;
}

.show {
  display: inline-block;
}
#loader {
  /* display: flex; */
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  /* z-index: 1; */
  width: 150px;
  height: 150px;
  /* margin: -75px 0 0 -75px; */
  border: 16px solid rgba(92, 125, 161, 1);
  border-radius: 50%;
  border-top: 16px solid rgba(92, 125, 161, 0.82);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

/* Ausrüstung */
.produktcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.produkt {}

.produktbild {
  max-width: 100%;
  margin-top: 10px;
  max-height: 50vh;
}

/* Projekte */
.projekt-grid {
  display: grid;
  grid-template-areas:
    'cover cover cover cover cover cover'
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 0px;
}

@media screen and (max-width: 600px) {
  .projekt-grid {
    display: grid;
    grid-template-areas:
      'cover cover cover cover cover cover'
      'header header header header header header'
      'menu menu menu menu menu menu'
      'main main main main main main'
      'footer footer footer footer footer footer';
    grid-gap: 0px;

  }
}

.inner-project-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding-top: 10px;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 600px) {
  .inner-project-grid {
    display: grid;
    grid-template-columns: 90%;
    grid-gap: 10px;
    padding-top: 10px;
    justify-content: center;

  }
}

/* Über mich */
.linie{
  /* width: 100%; */
  margin-left: 30px;
  margin-right: 30px;
  height: 1px;
  background-color: #000000;
  margin-bottom: 10px;
}


#skills ul {
  /* text-align: left; */
}

#skills ul li {
  text-align: left;
  /* margin-left: 30%; */
  padding-bottom: 10px;
}

.skillcontainer {
  display: inline-block;
}
